.waveformDisplay {
    background-color: #818181;
    height: 46em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#waveform {
    height: 80%;
    width: 90%;
}


.defaultAudioBtn {
    background-color: orange;
    font-weight: 500;
}