.waveformDisplay {
    background-color: #818181;
    height: 56em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow: hidden;
}

#waveform {
    height: 75%;
    width: 90%;
    margin-top: 2em;
}

/* #waveform > path {
    pointer-events: none;
} */

#waveform > line {
    z-index: 10;
}

.display {
    caret-color: transparent;
    text-align: center;
}

.seekDisplay {
    color: orange;
}

.defaultAudioBtn {
    background-color: orange;
    font-weight: 500;
}